Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on All Time Olympic Games Medals, and does some basic data cleaning.
The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd
df=pd.read_csv('test.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
print(df.columns[0][:2])

Pa

In [ ]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

Question 1
Which country has won the most gold medals in summer games?
This function should return a single string value.

In [ ]:
def answer_one():
    return df.index[df['Gold']==df['Gold'].max()]
answer_one()

Question 2
Which country had the biggest difference between their summer and winter gold medal counts?
This function should return a single string value.

In [ ]:
def answer_two():
    df['difference']=df['Gold']-df['Gold.1']
    return df.index[df['difference']==df['difference'].max()]
answer_two()

Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?
Summer Gold−Winter GoldTotal Gold
Summer Gold−Winter GoldTotal Gold
 
Only include countries that have won at least 1 gold in both summer and winter.
This function should return a single string value.

In [ ]:
def answer_three():
        df['diff']=0
        df['diff'][df['Gold.2']>0]=(df['Gold']-df['Gold.1'])/df['Gold.2']
        return list(df.index[df['diff']==df['diff'].max()])
answer_three()

Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (Gold.2) counts for 3 points, silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point. The function should return only the column (a Series object) which you created.
This function should return a Series named Points of length 146

In [ ]:
def answer_four():
    a=df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']
    return pd.Series(a)
answer_four()

Part 2
For the next set of questions, we will be using census data from the United States Census Bureau. Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. See this document for a description of the variable names.
The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)
This function should return a single string value.

In [ ]:
census_df = pd.read_csv('census.csv')
census_df.head()

In [ ]:
def answer_five():
    a=census_df.groupby('STNAME')['CTYNAME'].count()
    return a.index[0]
answer_five()

Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.
This function should return a list of string values.

In [ ]:
def cal(x):
    return x.nlargest(3).sum()
def answer_six():
    b=census_df.groupby('STNAME')['CENSUS2010POP'].apply(cal)
    return b.nlargest(3)
answer_six()

Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)
e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.
This function should return a single string value.

In [ ]:
def answer_seven():
    census_df['MINI']=census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
    census_df['MAXI']=census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)
    census_df['diff']=census_df['MAXI']-census_df['MINI']
    return census_df['CTYNAME'][census_df['diff']==census_df['diff'].max()]
answer_seven()

Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column.
Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.
This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).

In [ ]:
def answer_eight():
    c=census_df[['STNAME','CTYNAME']][(census_df['REGION']==(1 or 2))&(census_df['POPESTIMATE2015']>census_df['POPESTIMATE2014'])&(census_df['CTYNAME'].str.startswith('Washington'))]
    return c
answer_eight()

In [ ]:
energy=pd.read_excel('Energy Indicators.xls',header=15)
energy=energy.drop(energy.columns[[0, 1]], axis=1)
energy.columns=(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
energy=energy.loc[1:227]
energy=energy.replace('...',np.NaN)
energy=energy.set_index('Country')
energy.rename(index={"Republic of Korea": "South Korea","United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"})

GDP=pd.read_csv('world_bank.csv',header=4)
GDP=GDP.rename(columns={'Country Name':'Country'})
GDP=GDP.set_index('Country')
GDP.rename(index={"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"})

ScimEn=pd.read_excel('scimagojr-3.xlsx')
ScimEn.set_index('Country')

def answer_one():
    a=pd.merge(ScimEn,energy,how='inner',left_index=True,right_index=True)
    #b=pd.merge(a,GDP[['2006','2007','2008','2009','2010','2010','2011','2012','2013','2014','2015']],how='inner',on='Country')
    return a
answer_one()